@charset "UTF-8";
/* CSS Document */
/* section--top*/
/* section-top */
/* section-top */
.section-top__image {
  height: 70vh;
  width: 100%;
  background-image: url("../images/works/kazeno.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
@media(max-width:1160px) {
  .section-top__image {
    height: 30vh;
    width: 100%;
    background-image: url("../images/works/kazeno.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
a[target=_blank][rel=nofollow] {
  padding-right: 20px;
  background: url("../images/common/icon_blank.png") right center/11px auto no-repeat;
}
/* section-news */
.section-news {
  padding: 80px 0 100px;
  color: #fff;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}
.section-news h2 {
  max-width: 1160px;
  font-size: 3.2rem;
  font-weight: 600;
  display: block;
  padding-bottom: 40px;
  border-bottom: solid 2px #fff;
  margin-bottom: 14px;
  text-align: center;
}
.section-news h3 {
  font-size: 2.4rem;
}
.section-news__special {
  border-bottom: dashed 2px #fff;
  margin-bottom: 14px;
  padding: 20px 0;
}
.section-news__special a {
  text-decoration: none;
  color: #fff;
}
.section-news ul {
  list-style-type: none;
}
.section-news__special li {
  padding: 8px 0 5px;
}
.section-news__more-link a {
  text-decoration: none;
  color: #72ACFF;
  transition: color 0.5s;
}
.section-news__more-link a:hover {
  color: #0143fb;
}
.section-news ol {
  width: 90%;
  margin: 0 auto;
  list-style-type: none;
}
.section-news ol li {
  display: flex;
  padding: 8px 15px 5px;
  font-size: 1.6rem;
}
.section-news ol a {
  color: #fff;
}
.news-list time {
  display: flex;
}
.news-list .text {
  position: absolute;
  left: 200px;
}
.day.new::after {
  content: "NEW";
  color: #F33;
  position: absolute;
  left: 150px;
}
@media(max-width:1160px) {
  .section-news {
    margin: 40px 0 80px;
    padding: 20px 24px;
  }
  .section-news h2 {
    font-size: 2.4rem;
    padding-bottom: 20px;
  }
  .section-news h3 {
    font-size: 2.0rem;
  }
  .section-news ul {
    list-style-type: none;
  }
  .section-news__special li {
    padding: 8px 0 5px;
  }
  .section-news__more-link a {
    text-decoration: none;
    color: #72ACFF;
    transition: color 0.5s;
  }
  .section-news__more-link a:hover {
    color: #0143fb;
  }
  .section-news ol {
    width: 90%;
    list-style-type: none;
  }
  .section-news ol li {
    display: flex;
    padding: 8px 15px 5px;
    font-size: 1.6rem;
  }
  .news-list time {
    display: flex;
  }
  .news-list .text {
    position: absolute;
    left: 200px;
  }
  .day.new::after {
    content: "NEW";
    color: #F33;
    position: absolute;
    left: 150px;
  }
}
.news-list .text .text_a {
  text-align: left;
}
.news-list .inc_a {
  margin-bottom: 17px;
}