body {
  color: #fff;
}
.main {
  margin: 0 auto;
  text-align: center;
}
.section-about {
  padding: 60px 24px;
  margin-bottom: 60px;
}
.section-about .none {
  padding: 20px 0 40px;
  border-bottom: solid 2px #fff;
  margin-bottom: 40px;
}
.section-about__body {
  text-align: left;
  margin-bottom: 80px;
}
.section-about__photo {
  width: 100%;
  max-width: 400px;
  height: 50vw;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin: 0 auto 40px;
}
.section-about h3 {
  font-size: 2.4rem;
}
.section-about__position {
  color: #aaa;
  font-size: 1.6rem;
  margin: 15px 15px;
}
.section-about h4 {
  margin-left: 15px;
  font-size: 1.6rem;
  margin-bottom: 50px;
  color: #aaa;
  line-height: 1.5rem;
}
.section-about ul {
  list-style-type: none;
}
.section-about ul li {
  font-size: 1.6rem;
  margin: 0 0 10px 30px;
}
.section-about__body-text {
/*  margin-left: 20px;*/
}
.section-about ._about_time {
  font-size: 1.6rem;
  margin: 12px 0;
}
.links {
  text-align: center;
}
.links .links_h2 {
  padding: 20px 0 40px;
  border-bottom: solid 2px #fff;
  margin-bottom: 40px;
}
.links table {
  margin: 0 20px;
/*
  table-layout: auto;
width: 100%;
*/
}
.links th {
  text-align: left;  
  padding: 10px 20px 10px 5px;
  font-weight: 300;
}
.links th a {
    color: #fff;
  text-decoration: none;
}
.links td {
  padding: 10px;
  text-align: left;
}
@media(min-width: 1160px) {
  main {
    text-align: center;
    justify-content: center;
  }
  .section-about {
    margin-bottom: 80px;
  }
  .section-about h2 {
    max-width: 1160px;
    font-size: 3.2rem;
    font-weight: 600;
    display: block;
    padding: 40px 0;
    border-bottom: solid 2px #fff;
    margin: 0 auto 40px;
    text-align: center;
  }
  .section-about__body {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  .section-about__photo {
    margin-left: 20px;
    width: 300px;
  }
  .section-about__body-text {
    margin-left: 80px;
  }
  .section-about__body-text h3 {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  .section-about__position {
    font-size: 2.0rem;
    padding-bottom: 10px;
  }
  .section-about__body-text h4 {
    font-size: 1.6rem;
  }
  .section-about ul li {
    margin-left: 50px;
    margin-bottom: 0;
  }
  .section-about ._about_time {
    margin: 20px 0 0;
  }
  .links {
    max-width: 1160px;
    margin: 0 auto;
  }
  .links table {
    margin: 0 auto;
  }
  .links th {
    padding-right: 30px;
  }
}