@charset "UTF-8";
/* CSS Document */

/* sention-works */
.section-works {
  min-height: 80vh;
  padding: 60px 0;
  color: #fff;
  max-width: 1160px;
  margin: 0 auto;
}
.section-works h2 {
  font-size: 3.2rem;
  font-weight: 600;
  display: block;
  padding-bottom: 40px;
  border-bottom: solid 2px #fff;
  margin-bottom: 20px;
  text-align: center;
}
.section-works .work-list {
  margin: 40px 0 80px;
}
.section-works ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.section-works ul li {
  padding: 15px 15px;
}
.section-works ul li img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.works_which {
  font-size: 2.4rem;
  font-weight: 600;
  display: block;
  padding-bottom: 40px;
  border-bottom: solid 2px #fff;
  margin-bottom: 14px;
  text-align: center;
}
.works_which a{
  color: #fff;
 text-decoration: none;
  margin: 10px;
}
@media(max-width:1160px) {
  .section-works {
    margin-top: 20px;
    padding: 20px 10px;
  }
  .section-works h2 {
    font-size: 2.4rem;
    padding-bottom: 20px;
  }
  .section-works ul li img {
    object-fit: cover;
    width: 80px;
    height: 80px;
  }
}
